extends layout

block content
 form(method='POST', action='/myAccount')
    input(type="text", name='username')
    br
    input(type='password', name='password')
    br
    input(type='submit', value='login')


 a(href='/SignUp')   Sign Up